body {
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-style: italic;
    background-color: #3D38BE;
    color: #FFF;
}

h1, h2 {
    font-size: 20px;
}

#text, ul {
    font-size: 14px;
}
